{% extends "./layout.html" %}

{% block header %}{% endblock %}

{% block content %}
<section class="authentification-section" id="signup">
  <div class="container">
    <div class="card form-card form-small form-block whiteframe-z2">
      <h3 class="logo">{{ app.name }}</h3>
      <p>{{ _t("Create a new account") }}</p>

      {% if historyData.message %}
      <div class="has-error">
        <p>{{ historyData.message }}</p>
      </div>
      {% endif %}

      <form action='{{ base_url }}/signup' method='post' id="js-form">
        <div class="form-group">
          <input class="form-control"
          type='text' name='name' placeholder='{{ _t("Full name") }}' value="{{ historyData.name }}" />
        </div>
        <div class="form-group">
          <input class="form-control"
          type='text' name='email' placeholder="{{ _t('Email') }}" value="{{ historyData.email }}" />
        </div>
        <div class="form-group">
          <input class="form-control" type='password' name='password' placeholder="{{ _t('Password') }}" />
        </div>
        <div class="form-group">
          <input class="form-control"
                 type='password' name='password_confirm'
                 placeholder='{{ _t("Confirm Password") }}' />
        </div>
        <div class="form-group">
          <button class="button primary block" type="submit">{{ _t("Create account") }}</button>
        </div>
      </form>
      <div class="already-account">
        <p>{{ _t("Already have an account?") }} <a href='{{ base_url }}/signin' title="Existing account sign in">{{ _t("You can login here") }}</a></p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
