{% extends "./layout.html" %}

{% block header %}{% endblock %}

{% block content %}
<section class="authentification-section" id="signup">
  <div class="container">
    <div class="card form-card form-small form-block whiteframe-z2">
      <h3 class="logo">{{ app.name }}</h3>
      <p>{{ _t("Sign in to your account") }}</p>

      {% if historyData.message %}
      <div class="has-error">
        <p>{{ historyData.message }}</p>
      </div>
      {% endif %}

      <form action='{{ base_url }}/auth/signin' method='post' id="js-form">
        <div class="form-group">
          <input class="form-control" type='text' name='email' placeholder='{{ _t("Email address") }}' />
        </div>
        <div class="form-group">
          <input class="form-control" type='password' name='password' placeholder='{{ _t("Password") }}' />
        </div>
        <div class="form-group">
          <button class="button primary block" type="submit">{{ _t("Sign in") }}</button>
        </div>
        <!-- <div class="form-group text-center">
          <a href="{{ base_url }}/forgot/password">{{ _t("Forgot your password?") }}</a>
        </div> -->
      </form>

      <div class="already-account">
        {{ _t("No account?") }}
        <a href='{{ base_url }}/signup' data-trigger="manual" title="">{{ _t("Create one now.") }}</a>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block footer %}{% endblock %}
